## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Guerrero Negro,MX,82.54,clear sky,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
1,2,Eyl,SO,76.10,scattered clouds,7.98,49.82,Amiin Hotel
2,3,Sulangan,PH,83.95,overcast clouds,11.14,123.72,Maia's Beach Resort
3,4,Butaritari,KI,82.81,few clouds,3.07,172.79,Isles Sunset Lodge
4,5,Padang,ID,76.60,overcast clouds,-0.95,100.35,Mercure Padang
...,...,...,...,...,...,...,...,...
285,675,San Felipe,VE,82.89,few clouds,10.34,-68.74,Posada Llovizna Rodríguez
286,676,Rach Gia,VN,82.17,few clouds,10.02,105.08,Nhà Hàng Hòa Giang
287,678,San Anselmo,US,75.20,clear sky,37.97,-122.56,Four Points by Sheraton San Rafael Marin County
288,681,Burien,US,82.99,clear sky,47.47,-122.35,Red Roof Inn Seattle Airport - SEATAC
289,683,Kasongo-Lunda,CD,79.43,overcast clouds,-6.47,16.82,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Lat</dt><dd>{Lat}</dd>
<dt>Lng</dt><dd>{Lng}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

       Lat     Lng
0    27.98 -114.06
1     7.98   49.82
2    11.14  123.72
3     3.07  172.79
4    -0.95  100.35
..     ...     ...
285  10.34  -68.74
286  10.02  105.08
287  37.97 -122.56
288  47.47 -122.35
289  -6.47   16.82

[290 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
hotel = vacation_df["Hotel Name"]
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
current_weather = vacation_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Oyama")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Oyama")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Hasaki")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Katsuura")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Tateyama")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,268,Oyama,JP,86.0,fog,36.3,139.8,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
# end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
# stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
# stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

array([[ 35.73, 140.83]])

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

# # Latitude-longitude pairs
# start = (36.3, 139.8)
# stop1 = (35.73, 140.83)
# # zurich = (47.4, 8.5)

fig = gmaps.figure()
geneva2zurich = gmaps.directions_layer(start, stop1)
fig.add_layer(geneva2zurich)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure